In [25]:
import numpy as np
import pandas as pd

The First Part of our Project is opening the tables and getting a feel of the data

In [26]:
flights = pd.read_csv('flights.csv')
airports = pd.read_csv('airports.csv')
airlines = pd.read_csv('airlines.csv')

C:\Users\Yahia\AppData\Local\Temp\ipykernel_15048\884131147.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv('flights.csv')

In [27]:
flights.head()
flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [28]:
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [29]:
airlines.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

After acessing the data we can determine that the data can be joined on the following attributes :

flights.ORIGIN_AIRPORT = airports.IATA_CODE

flights.DESTINATION_AIRPORT = airports.IATA_CODE
flights.AIRLINE = airlines.IATA_CODE

flights.DESTINATION_AIRPORT = airports.IATA_CODE
flights.AIRLINE = airlines.IATA_CODE

In [30]:
mergedPD =pd.merge(flights, airports, left_on='DESTINATION_AIRPORT', right_on='IATA_CODE', how='left')

After Intial Merging We need to rename columns to little ensure a no confusion

In [31]:

mergedPD.rename(columns={'IATA_CODE': 'DEST_AIRPORT_IATA_CODE',
                   'AIRPORT': 'DEST_AIRPORT_NAME',
                   'CITY': 'DEST_AIRPORT_CITY',
                   'STATE': 'DEST_AIRPORT_STATE',
                   'COUNTRY': 'DEST_AIRPORT_COUNTRY',
                   'LATITUDE': 'DEST_AIRPORT_LATITUDE',
                    'LONGITUDE': 'DEST_AIRPORT_LONGITUDE',
                   },
          inplace=True, errors='raise')

mergedPD.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,DEST_AIRPORT_IATA_CODE,DEST_AIRPORT_NAME,DEST_AIRPORT_CITY,DEST_AIRPORT_STATE,DEST_AIRPORT_COUNTRY,DEST_AIRPORT_LATITUDE,DEST_AIRPORT_LONGITUDE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,NaN,NaN,NaN,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,NaN,NaN,NaN,PBI,Palm Beach International Airport,West Palm Beach,FL,USA,26.68316,-80.09559
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,NaN,NaN,NaN,CLT,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,NaN,NaN,NaN,MIA,Miami International Airport,Miami,FL,USA,25.79325,-80.29056
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,NaN,NaN,NaN,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619

We can now continue to alter the merged database to enclose all outputs

In [32]:
mergedPD =pd.merge(mergedPD, airports, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='left')

In [33]:
mergedPD.rename(columns={'IATA_CODE': 'ORIGIN_AIRPORT_IATA_CODE',
                   'AIRPORT': 'ORIGIN_AIRPORT_NAME',
                   'CITY': 'ORIGIN_AIRPORT_CITY',
                   'STATE': 'ORIGIN_AIRPORT_STATE',
                   'COUNTRY': 'ORIGIN_AIRPORT_COUNTRY',
                   'LATITUDE': 'ORIGIN_AIRPORT_LATITUDE',
                    'LONGITUDE': 'ORIGIN_AIRPORT_LONGITUDE',
                   },
          inplace=True, errors='raise')

mergedPD.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,DEST_AIRPORT_COUNTRY,DEST_AIRPORT_LATITUDE,DEST_AIRPORT_LONGITUDE,ORIGIN_AIRPORT_IATA_CODE,ORIGIN_AIRPORT_NAME,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,ORIGIN_AIRPORT_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,USA,47.44898,-122.30931,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,USA,26.68316,-80.09559,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,USA,35.21401,-80.94313,SFO,San Francisco International Airport,San Francisco,CA,USA,37.61900,-122.37484
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,USA,25.79325,-80.29056,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,USA,61.17432,-149.99619,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931

We have now successfully integrated flights and airports now we must add in airlines

In [34]:
mergedPD =pd.merge(mergedPD, airlines, left_on='AIRLINE', right_on='IATA_CODE', how='left')

In [35]:
mergedPD.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,DEST_AIRPORT_LONGITUDE,ORIGIN_AIRPORT_IATA_CODE,ORIGIN_AIRPORT_NAME,ORIGIN_AIRPORT_CITY,ORIGIN_AIRPORT_STATE,ORIGIN_AIRPORT_COUNTRY,ORIGIN_AIRPORT_LATITUDE,ORIGIN_AIRPORT_LONGITUDE,IATA_CODE,AIRLINE_y
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,-122.30931,ANC,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619,AS,Alaska Airlines Inc.
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,-80.09559,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807,AA,American Airlines Inc.
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,-80.94313,SFO,San Francisco International Airport,San Francisco,CA,USA,37.61900,-122.37484,US,US Airways Inc.
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,-80.29056,LAX,Los Angeles International Airport,Los Angeles,CA,USA,33.94254,-118.40807,AA,American Airlines Inc.
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,-149.99619,SEA,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,AS,Alaska Airlines Inc.

In [36]:
mergedPD.rename(columns={'IATA_CODE': 'AIRLINE_IATA_CODE',
                   'AIRLINE_y': 'AIRLINE_NAME'
                   
                   },
          inplace=True, errors='raise')

In [37]:
mergedPD.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE_x', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'DEST_AIRPORT_IATA_CODE',
       'DEST_AIRPORT_NAME', 'DEST_AIRPORT_CITY', 'DEST_AIRPORT_STATE',
       'DEST_AIRPORT_COUNTRY', 'DEST_AIRPORT_LATITUDE',
       'DEST_AIRPORT_LONGITUDE', 'ORIGIN_AIRPORT_IATA_CODE',
       'ORIGIN_AIRPORT_NAME', 'ORIGIN_AIRPORT_CITY', 'ORIGIN_AIRPORT_STATE',
       'ORIGIN_AIRPORT_COUNTRY', 'ORIGIN_AIRPORT_LATITUDE',
       'ORIGIN_AIRPORT_LONGITUDE', 'AIRLINE_IATA_CODE', 'AIRLINE_NAME'],
      dtype='object')

We have successfully integrated all data sets into one large data frame

We must now begin cleaning our data